# Classifica formalmente diretórios e arquivos de suporte como documentação
docs/* linguist-documentation
*.pdf linguist-documentation

# Evita que o volume de dados dos notebooks distorça as estatísticas de linguagem
*.ipynb linguist-detectable=false

